h1{
    color: violet;
}
h2{
    color: #4b0082;
}
h3{
    color: #00f;
}
h4{
    color: #00ff00ff;
}
h5{
    color: #ff0;
}
h6{
    color: rgb(240, 78, 2);
}
p{
    color: rgba(255, 0, 0, 0.6)
}
li.hotPink{
    color: hotpink;
}